* {
  width: fit-content;
  margin: auto auto;
}

body {
  background-color: #fff;
  padding: 20px;
}

table#highscores {
  padding-top: 10px;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores tr:hover {
  background-color: #fafafa;
}

table#highscores th:first-child,
table#highscores td:first-child {
  padding-right: 2ex;
}

#TheButton {
  display: inline-block;
  position: relative;
  left: 40%;
  width: 20%;
  transition: all .1s;
  border: none;
  color: #fff;
  background-color: #39f;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

#TheButton:hover {
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
  transform: translateX(1px) translateY(-1px)
}

#TheButton:click {
  display: inline-block;
}

p#label { 
  text-align: center; 
}
