* {
  width: fit-content;
  margin: auto auto;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  position: fixed;
  margin: auto auto;
  padding: 0;
  background-color: #fff;
  padding-top: 20px;
}

table#highscores {
  padding-top: 10px;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores tr:hover {
  cursor: pointer;
  background-color: #fafafa;
  box-shadow: -0.2px 0.2px 0.6px 0px rgba(0,0,0,0.45);
  transform: translateX(-0.2px) translateY(0.2px)
}

table#highscores th:first-child,
table#highscores td:first-child {
  padding-right: 2px;
}

table#highscores tr td:first-child:hover {
  font-weight: bolder;
}



#TheButton {
  display: inline-block;
  position: relative;
  left: 30%;
  width: 40%;
  transition: all .1s;
  color: #fff;
  background-color: #39f;
  padding: 15px 0px;
  border: double; /* I think it's good, but remove it if not, and replace double with none */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#TheButton:hover {
  
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.45);
  transform: translateX(-1px) translateY(1px)
}

#TheButton:active {
  webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  transform: translateX(-1px) translateY(1px)
}

p#label { 
  text-align: center; 
}

#ToggleHCM:click {
  -webkit-filter: invert(1) hue-rotate(180deg) !important;
  filter: invert(1) hue-rotate(180deg) !important;
} /*Can there be a button that activates high contrast mode? */

/*.rainbow {
  #TheButton
} // I need help with this, and google is not helping. */

/*.highscores:before {
  content: "1-5"
} //I also need help with this. */
