Click me.

The Button was last clicked 0 days, 0 hours, 0 minutes, and 42 seconds ago by jcgter777

Username	Time
_iPhoenix_	0 days, 19 hours, 52 minutes, and 25 seconds
jcgter777	0 days, 18 hours, 19 minutes, and 31 seconds
tev	0 days, 17 hours, 53 minutes, and 23 seconds
jeb	0 days, 14 hours, 41 minutes, and 19 seconds
me	0 days, 12 hours, 31 minutes, and 2 seconds
About

CloseBottomLeft / RightReset
Live CSS Editor

* {
  font-family: 'Raleway', sans-serif;
  width: fit-content;
  margin: auto auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  position: fixed;
  margin: auto auto;
  padding: 5px;
  background-color: #87CEEB;
  padding-top: 20px;
}

div#main-div {
  text-align: center;
}

table#highscores {
  border: 
  background-color: #fafafa;
  margin-top: 10px;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores tr:hover {
  background-color: #eee;
  font-weight: 500;
  cursor: pointer;
}

table#highscores th {
  border-bottom: 1px solid black;
}

table#highscores th:first-child,
table#highscores td:first-child {
  padding-right: 2px;
}

table#highscores tr td:first-child:hover {
  font-weight: 500;
}

#TheButton {
  width: 400px;
  transition: all .1s;
  color: #fff;
  background-color: #1E90FF;
  padding: 15px 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#TheButton:hover {
  
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.45);
  transform: translateX(-1px) translateY(1px)
}

#TheButton:active {
  box-shadow: none;
  transform: translateX(-1px) translateY(1px)
}

p {
  text-align: center; 
}

p#about {
  color: blue;
  transition: all .25s .1s;
  margin-top: 20px;
}

strong {
  font-weight: 600;
}

#about:hover {
  color: white;
}

#about:visited {
  color: #0af;
}

