* {
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  margin: auto auto;
  padding: 5px;
  background-color: #fff;
}

div#main-div {
  text-align: center;
}

#title {
  margin-top: 20px; 
  font-weight: 600;
  text-align: center;
}

table#highscores {
  border: none;
  background-color: #fafafa;
  margin-top: 10px;
  width: 700px
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores tr:hover {
  background-color: #eee;
  font-weight: 300;
  cursor: pointer;
}

table#highscores th {
  border-bottom: 1px solid black;
}

table#highscores th:first-child,
table#highscores td:first-child {
  padding-right: 2px;
}

table#highscores tr td:first-child:hover {
  font-weight: 300;
}

#TheButton {
  width: 400px;
  height: 55px;
  transition: all .2s;
  color: #000;
  background-color: #ededed;
  padding: 10px 30px;
  border: 1px solid #ccc;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 120%;
  margin: 10px;
  cursor: pointer;
  letter-spacing: 2.5px;
  font-weight: 600;
  border-radius: 45px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}


#TheButton.lighted {
  background-color: #4FC;
  font-size: 150%;
}

#TheButton:hover {
  background-color: #00BFFF;
  box-shadow: 0px 20px 20px rgb(204, 255, 255);
  transform: translateY(-7px);
}

#TheButton:active {
  box-shadow: 0px 6px 8px rgb(204, 255, 255);
  transform: translateY(3px);
  background: #00BFFF;
  /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1; */
}

p {
  text-align: center; 
}

strong {
  font-weight: 600;
}

#about {
  width: 60px;
  height: 30px;
  background-color: #DCDCDC;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
  margin: 5px;
}

#togglebgc {
  width: 270px;
  height: 30px;
  background-color: #DCDCDC;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
  margin: 5px;
}

#repolink {
  margin-top: 10px;
  width: 380px;
  height: 45px;
  background-color: #DCDCDC;
  padding-top: 10px;
  border: 1px solid #ccc;
  cursor: auto;
  border-radius: 5px;
}

#thisfork {
  background-color: #DCDCDC;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
}

#original {
  background-color: #DCDCDC;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
}
