* {
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  margin: auto auto;
  padding: 5px;
  background-color: #fff;
}

div#main-div {
  text-align: center;
}

#title {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}

table#highscores {
  border: none;
  background-color: #fafafa;
  margin-top: 10px;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores tr:hover {
  background-color: #eee;
  font-weight: 300;
  cursor: pointer;
}

table#highscores th {
  border-bottom: 1px solid black;
}

table#highscores th:first-child,
table#highscores td:first-child {
  padding-right: 2px;
}

table#highscores tr td:first-child:hover {
  font-weight: 300;
}

#TheButton {
  width: 400px;
  height: 70px;
  transition: all .2s;
  color: #fff;
  background-color: #DCDCDC;
  padding: 15px 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 125%;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 125%;
  letter-spacing: 2.5px;
  /* font-weight values for anything besides 300 or 600 don't work. Those are the two font weights we loaded in our HTML. */
  font-weight: 600;
  color: #000;
  border: none;
  border-radius: 45px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

#TheButton.lighted {
  background-color: #4FC;
  font-style: bold;
}

#TheButton:hover {
  box-shadow: 0px 15px 20px rgb(204, 255, 255);
  transform: translateY(-7px);
}

#TheButton:active {
  box-shadow: none;
  transform: translateY(3px);
}

p {
  text-align: center; 
}

p#about {
  color: blue;
  transition: all .25s .1s;
  margin-top: 20px;
}

strong {
  font-weight: 600;
}

#about:hover {
  color: white;
}

#about:visited {
  color: #0af;
}
